In [1]:
import googlemaps
import pandas as pd

In [2]:
api_key = 'AIzaSyCW3V3R5RVI1H9js7ZKutDvvAD4NHBbgLA'
gmaps = googlemaps.Client(api_key)

In [3]:
df = pd.read_csv('C:\Data Analytics\Sem 3\Dataset\Locations.csv')
df

                        PropertyAddress
0     020XX S MICHIGAN AVE, Chicago, IL
1        131XX S ELLIS AVE, Chicago, IL
2      054XX S CENTRAL AVE, Chicago, IL
3          014XX W ERIE ST, Chicago, IL
4      032XX N LINCOLN AVE, Chicago, IL
...                                 ...
9544     031XX W NORTH AVE, Chicago, IL
9545   065XX S WESTERN AVE, Chicago, IL
9546  005XX N ST LOUIS AVE, Chicago, IL
9547       028XX E 78TH ST, Chicago, IL
9548     029XX W DEVON AVE, Chicago, IL

[9549 rows x 1 columns]

In [ ]:
#Get geocode result object
#Get lat and lon
df['LAT'] = None
df['LON'] = None

for i in range(0,len(df),1):
    geocode_result = gmaps.geocode(df.iat[i,0])
    try:
        lat = geocode_result[0]["geometry"]["location"]["lat"]
        lon = geocode_result[0]["geometry"]["location"]["lng"]
        df.iat[i,df.columns.get_loc("LAT")] = lat
        df.iat[i,df.columns.get_loc("LON")] = lon
    except:
        lat = None
        lon = None

#9549 records take 1 hour 5 minutes to run
#52 missing values will be substituded by default chicago latitude and longitude

In [ ]:
df.isna().sum()
#Chicago co-ordinates : 41.8781, 87.6298
#df = df.drop(columns = ['ZipCode'])
values = {'LAT': 41.8781,'LON': -87.6298}
df = df.fillna(value=values)
df.to_csv('C:\Data Analytics\Sem 3\Dataset\LocationsLatLong.csv')

In [ ]:
df.head()

In [ ]:

newdf = pd.read_csv('C:\Data Analytics\Sem 3\Dataset\LocationsLatLong.csv',index_col=False)
newdf

In [ ]:
newdf = newdf.drop(columns=['Unnamed: 0'])

In [ ]:
#Get geocode result object
#Get lat and lon
newdf['ZipCode'] = None
for i in range(0,len(newdf),1):
    re = gmaps.reverse_geocode((newdf.iat[i,1],newdf.iat[i,2]))
    try:
        for x in re[0]['address_components']:
            if 'postal_code' in x['types']:
                add = x['long_name']
                newdf.iat[i,newdf.columns.get_loc("ZipCode")] = add      
    except:
        add = None
#9549 records take 15 minutes to run

In [ ]:
newdf[newdf['ZipCode'].isnull()]
newdf = newdf.fillna(60601) #119 zipcdes filled with default chicago zipcode
newdf.isna().sum()

In [ ]:
newdf.to_csv('C:\Data Analytics\Sem 3\Dataset\LocationsZip.csv')

In [4]:
#Speed Camera & Red Camera Violations data locations
sviolations = pd.read_csv('C:/Data Analytics/Sem 3/Dataset/LocationData/Speed_CameraViolations.csv')
rviolations = pd.read_csv('C:/Data Analytics/Sem 3/Dataset/LocationData/Red_Light_Camera_Violations.csv')

In [9]:
slocs = sviolations[['ADDRESS','LATITUDE','LONGITUDE']]
rlocs = rviolations[['ADDRESS','LATITUDE','LONGITUDE']]
slocs = pd.DataFrame(slocs)
rlocs = pd.DataFrame(rlocs)

In [10]:
print(slocs.shape)
print(rlocs.shape)

(204234, 3)
(513034, 3)

In [21]:

nullslocs = slocs[pd.isnull(slocs).any(axis=1)]
nullslocs.shape

(7747, 3)

In [22]:
nullrlocs = rlocs[pd.isnull(rlocs).any(axis=1)]
nullrlocs.shape

(26852, 3)

In [28]:
nullrlocs = nullrlocs.drop_duplicates(subset='ADDRESS') #17 unique addresses only
nullslocs = nullslocs.drop_duplicates(subset='ADDRESS') #5 unique address only

In [30]:
nullrlocs = nullrlocs.drop(columns=['LATITUDE','LONGITUDE']) 
nullslocs = nullslocs.drop(columns=['LATITUDE','LONGITUDE'])

In [34]:
#Get geocode result object
#Get lat and lon for red camera
nullrlocs['LAT'] = None
nullrlocs['LON'] = None

for i in range(0,len(nullrlocs),1):
    geocode_result = gmaps.geocode(nullrlocs.iat[i,0])
    try:
        lat = geocode_result[0]["geometry"]["location"]["lat"]
        lon = geocode_result[0]["geometry"]["location"]["lng"]
        nullrlocs.iat[i,nullrlocs.columns.get_loc("LAT")] = lat
        nullrlocs.iat[i,nullrlocs.columns.get_loc("LON")] = lon
    except:
        lat = None
        lon = None

In [36]:
#Get geocode result object
#Get lat and lon for speed camera
nullslocs['LAT'] = None
nullslocs['LON'] = None

for i in range(0,len(nullslocs),1):
    geocode_result = gmaps.geocode(nullslocs.iat[i,0])
    try:
        lat = geocode_result[0]["geometry"]["location"]["lat"]
        lon = geocode_result[0]["geometry"]["location"]["lng"]
        nullslocs.iat[i,nullslocs.columns.get_loc("LAT")] = lat
        nullslocs.iat[i,nullslocs.columns.get_loc("LON")] = lon
    except:
        lat = None
        lon = None

In [37]:
nullslocs

            ADDRESS      LAT      LON
0   1111 N HUMBOLDT  45.5585 -122.678
5    5520 S WESTERN   41.792  -87.684
7    5529 S WESTERN  41.7939  -87.684
16   7738 S WESTERN  41.7526 -87.6832
18   7739 S WESTERN  41.7526 -87.6825

In [40]:
nullrlocs = nullrlocs.rename(columns={'LAT':'LATITUDE','LON':'LONGITUDE'})
nullslocs = nullslocs.rename(columns={'LAT':'LATITUDE','LON':'LONGITUDE'})

In [58]:
nullslocs

            ADDRESS LATITUDE LONGITUDE
0   1111 N HUMBOLDT  45.5585  -122.678
5    5520 S WESTERN   41.792   -87.684
7    5529 S WESTERN  41.7939   -87.684
16   7738 S WESTERN  41.7526  -87.6832
18   7739 S WESTERN  41.7526  -87.6825

In [39]:
speedmislocs = slocs[pd.isnull(slocs).any(axis=1)]
redmislocs = rlocs[pd.isnull(rlocs).any(axis=1)]

In [59]:
#Lookup for latitude
sviolations.loc[sviolations['LATITUDE'].isna(),'LATITUDE'] = sviolations['ADDRESS'].map(nullslocs.LATITUDE)

#Lookup for longitude
sviolations.loc[sviolations['LONGITUDE'].isna(),'LONGITUDE'] = sviolations['ADDRESS'].map(nullslocs.LONGITUDE)

In [43]:
#Lookup for latitude
rviolations.loc[rviolations['LATITUDE'].isna(),'LATITUDE'] = rviolations['ADDRESS'].map(nullrlocs.LATITUDE)

#Lookup for longitude
rviolations.loc[rviolations['LONGITUDE'].isna(),'LONGITUDE'] = rviolations['ADDRESS'].map(nullrlocs.LONGITUDE)

In [60]:
#Fill missing latitude
s1 = nullrlocs.set_index('ADDRESS')['LATITUDE']
rviolations['LATITUDE'] = rviolations['LATITUDE'].fillna(rviolations['ADDRESS'].map(s1))

#Fill missing longitude
s2 = nullrlocs.set_index('ADDRESS')['LONGITUDE']
rviolations['LONGITUDE'] = rviolations['LONGITUDE'].fillna(rviolations['ADDRESS'].map(s2))

In [62]:
#Fill missing latitude
s3 = nullslocs.set_index('ADDRESS')['LATITUDE']
sviolations['LATITUDE'] = sviolations['LATITUDE'].fillna(sviolations['ADDRESS'].map(s3))

#Fill missing longitude
s4 = nullslocs.set_index('ADDRESS')['LONGITUDE']
sviolations['LONGITUDE'] = sviolations['LONGITUDE'].fillna(sviolations['ADDRESS'].map(s4))

In [63]:
sviolations.isna().sum()

ADDRESS              0
CAMERA ID            0
VIOLATION DATE       0
VIOLATIONS           0
X COORDINATE      7747
Y COORDINATE      7747
LATITUDE             0
LONGITUDE            0
LOCATION          7747
dtype: int64

In [54]:
rviolations.isna().sum()

INTERSECTION          0
CAMERA ID           289
ADDRESS               0
VIOLATION DATE        0
VIOLATIONS            0
X COORDINATE      26852
Y COORDINATE      26852
LATITUDE              0
LONGITUDE             0
LOCATION          26852
dtype: int64

In [64]:
sv = sviolations[['VIOLATION DATE','LATITUDE','LONGITUDE']]
rv = rviolations[['VIOLATION DATE','LATITUDE','LONGITUDE']]

In [65]:
sv.to_csv('C:/Data Analytics/Sem 3/Dataset/LocationData/SpeedCam_Clean.csv')
rv.to_csv('C:/Data Analytics/Sem 3/Dataset/LocationData/RedCam_Clean.csv')

In [67]:
sv.shape

(204234, 3)

In [68]:
rv.shape

(513034, 3)